<div class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
        <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
            <div class="flex justify-between mb-6">
                <div>
                    <div class="text-2xl font-semibold mb-1">{{ users.length}}</div>
                    <div class="text-sm font-medium text-gray-400">User Total</div>
                </div>
               
            </div>
           
        </div>
        <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex items-center">
            <div class="flex justify-between mb-4">
                <div>
                    <div class="flex items-center mb-1">
                        <div class="text-2xl font-semibold">324</div>
                        <div
                            class="p-1 rounded bg-emerald-500/10 text-emerald-500 text-[12px] font-semibold leading-none ml-2">
                            +30%</div>
                    </div>
                </div> 
            </div>
            
        </div>
        <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5 flex items-center">
            <div class="flex justify-between ">
                <div>
                    <div class="text-2xl font-semibold mb-1"><span
                            class="text-base font-normal text-gray-400 align-top"></span>{{products.length}}</div>
                    <div class="text-sm font-medium text-gray-400">Total Products</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Product Name</th>
                        <th scope="col" class="px-6 py-3">Price</th>
                        <th scope="col" class="px-6 py-3">Category</th>
                        <th scope="col" class="px-6 py-3">Rating</th>
                        <th scope="col" class="px-6 py-3">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @for(product of products; track product.id){
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ product.title }}
                        </th>

                        <td class="px-6 py-4">{{ product.price }}</td>
                        <td class="px-6 py-4">{{ product.category }}</td>
                        <td class="px-6 py-4">{{ product.rating.rate }} ({{ product.rating.count }} reviews)</td>
                        <td><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="delete(product.id)">Delete</button></td>
                    </tr>
                    } @empty{
                    <li> There are no items</li>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>